@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
    margin: 0;
    background-image: url(../background.gif);
    background-size: 100%;
    font-family: 'Kanit', sans-serif;
}

p {
    font-family: 'Anuphan', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.start {
    height: 1px;
}

.headerMain {
    position: fixed;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    background: linear-gradient(90deg, rgba(67,22,88,45%) 0%, rgba(152,30,107,25%) 35%, rgba(193,44,66,25%) 100%); 
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.headerName {
    font-size: 2rem;
    color: white;
}

.headerRight {
    width: 35%
}

.headerList {
    color: white;
    padding-top: 1rem;
    padding-right: 2rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.welcoming {
    color:white;
    margin-left: 10rem;
    margin-bottom: 10rem;
}

.welcomeTitle {
    font-size : 6rem;
    padding-top: 15rem;
}

.welcomeText {
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

.welcomeBtn {
    font-size: 1.2rem;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid
}

.welcomeBtn:hover {
    background-color: white;
    color: black;

}

.proposDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
    margin-top: 5rem
}

.infoTitle {
    text-align: center;
    color: white;
    text-decoration: underline;
    margin-bottom: 7rem;
    padding-top: 10rem;
}

.infoFlex {
    display: flex;
    justify-content: space-evenly;
}

.infoBg {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.infoDiv {
    background: linear-gradient(90deg, rgb(67, 22, 88) 0%, rgba(152, 30, 107, 0.729) 35%, rgba(193, 44, 66, 0.499) 100%);
    border-radius: 2rem;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4rem;
}

.infoPfp {
    clip-path: ellipse(40% 50%);
    height: 250px;
    position: absolute;
    bottom: calc(100% - 75px);
}

.infoText {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding-top: 3rem;
}

.skillTitle {
    text-align: center;
    color: white;  
    text-decoration: underline;
}

.skillAll {
    display: flex;
    justify-content: space-evenly;
}

.skill {
    height: 200px;
}

.cvImg {
    height: 200px;
}

.cvLink {
    padding: 1rem;
    border: 1px solid;

}

.projetTitle {
    text-align: center;
    color: white;
    text-decoration: underline;
    margin-bottom: 5rem;
}

.projetCardContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projetCard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid grey
}

.cardImg {
    height: 200px;
}

.cardTitle {
    color:white;
    text-align: center;
}